<style>
    body{
        margin: 0px;
    background-color: white;
    }

    main{
        margin-left:20px;
        margin-right: 20px;
    }

      h1{
        text-align:center; 
        color:black}

      p{color:black;}

      .navbar ul{
        list-style-type: none;
        background-color: rgb(103, 101, 101);
        padding: 0px;
        margin: 0px;
        overflow:hidden;
      }
      .navbar a{
        color:white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
      }
      .navbar a:hover{
        background-color: rgb(47, 46, 46);
      }
      .navbar li{
        float:left;
      }
      </style>