body {
  margin: 0px;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  /* background-color: rgb(103, 101, 101); */
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  width: 80px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  background-color: black;
  margin: 0 10px;
  overflow: hidden;
}
.navbar a:hover {
  background-color: rgb(47, 46, 46);
}
.navbar li {
  float: left;
}
